<section class="form-section pad-70">
    <div class="text">
        <h3>
            Fique por dentro das tendências
        </h3>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex enim sequi ab tempore impedit aliquid suscipit, debitis quam, cum cupiditate nemo sit consequatur eum id est incidunt amet pariatur atque?</p>
    </div>

    <!-- <form [formGroup]="newsletterForm">
        
        <label for="name">Nome</label>
        <input id="name" formControlName ="name"/>
    
        <label for="email">E-mail</label>
        <input id="email" formControlName = "email"/>
    
        <-- <btn-primary class="variant-button" btn-Text="Se inscreva" [variant]="'secondary'"></btn-primary> Variant secondary não funciona -->

        <!--<button class="variant-btn" (click)="onsubmit() " [disabled]="!newsletterForm.valid">Se inscreva</button>
    </form> -->

    <form action="https://formsubmit.co/franciscolimalima998@gmail.com" method="POST">
        <input type="text" name="name" required placeholder="Seu nome">
        <input type="email" name="email" required placeholder="Seu E-mail">
        <input type="hidden" name="_captcha" value="false">
        <!-- <button type="submit">Send</button> -->
        <button class="variant-btn">Se inscreva</button>
    </form>

</section>