<app-header></app-header>


<main>
    <section class="main-section pad-70">

        <div class="headline">
            <span>Colibre consultoria</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>

        <img src="../../../assets/spftwaremulher.png" width="510" hidth = "536">
    </section>

    <section class="benefit-section">
        <div class="benefit-data">
            <h2>95% das<br> empresas</h2>
        </div>
        <p>Não sabem lidar com problemas de <b>Escalabilidade</b> e grande volume de requisições.</p>
    </section>

    <section class="cta-section">
        <btn-primary btn-Text = "Fale com nossos especialistas"></btn-primary>
    </section>

    <app-newsletter-form></app-newsletter-form>
    <app-grid-sect></app-grid-sect>
    <app-final-sect></app-final-sect>
    <app-rodape></app-rodape>
</main>