<section class="grid">
    <div class="bg">
        <img src="../../../assets/equipe.svg" alt="">
        <h1>Equipe capacitada</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos commodi quia consequatur recusandae, sunt aspernatur dolores reiciendis expedita eius odit, quas saepe sequi quod, repudiandae distinctio perferendis dolor magni tempora?</p>
    </div>

    <div class="bg">
        <img src="../../../assets/storage.svg" alt="">
        <h1>Seus projetos do zero</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos commodi quia consequatur recusandae, sunt aspernatur dolores reiciendis expedita eius odit, quas saepe sequi quod, repudiandae distinctio perferendis dolor magni tempora?</p>
    </div>

</section>
